<body class="card   size" *ngIf="hero">
  <img class=" card-img-top" src={{hero.photo}} alt="Card image">

  <div class="lower">
    <h2 class="backcol">{{hero.name | uppercase}} Details</h2>
    <div><span>id: </span>{{hero.id}}</div>
    <div>
      <label>name:
        <input [(ngModel)]=" hero.name" placeholder="name" class="form-control change">
      </label>
      <div style="float: right;margin-top: 10px;">
        <button class="btn  btnsize" (click)="goBack()">返回</button>
      </div>
    </div>
  </div>


</body>