
span{
    width:40px;
    line-height: 25px;
    position: relative;
    bottom: 2px;
  
}

li:hover{
    color: rgb(255, 0, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    border: 2px solid rgb(79, 206, 223);
    box-shadow: 0 0  40px rgb(9, 198, 231) ;
}


li{
    list-style-type: none;
    line-height:30px;
    width: 270px;
    margin: 10px;
}




